* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}

/* Common */
.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

.btn {
  outline: none;
  border: none;
  width: 117px;
  height: 50px;
  border-radius: 25px;
  background: transparent;
}

/* ----------Header------------- */
.header {
  padding-top: 26px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list-item {
  display: flex;
}

.nav__item {
  margin-right: 36px;
  font-family: Poppins;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 14px;
  color: #5e6085;
}
